/* Google Fonts - Sora */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background-color: #242424;
}

main {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.4);
  background-color: #242424;
}

main header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

/* Rules for the span elements inside the icons section */
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

/* Rules for the paragraph inside the header */
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
  color: #8c59b6;
}

/* Rules for the calendar section */
.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

/* Rule day section inside the calendar section */
.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #0d8884;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

/* Rules for the li elements inside the weeks section that is inside the calendar section */
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

/* Rules for the li elements inside the days section that is inside the calendar section */
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  color: #aaa;
  text-shadow: 0 0px 10px #0d8884;
}

.days li.inactive {
  color: rgb(92, 91, 91);
}

.days li.active {
  color: rgb(194, 191, 191);
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #8c59b6;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}
